ion-content{
    //--background: #252A2F; color base gris oscuro
    --background: #0000;

   
    app-menu{
        z-index: 100000;
    }

    .cont{
        margin-top: 4rem;

        h1{
            color: #9f4af3de;
            text-align: center;
        }

        ion-item{
            margin-bottom: 5px;
            border-bottom: 1px solid #f3f3f3;
        }

        ion-button {
            --background: #9f4af3de;
            color: white;
        
            &:hover {
                --background: #9032efb2;
            }
        }        
    }
}
