<ion-content>


    <div class="cont">
    
        <div class="cont-title">
            <h3>Envía un mail para cambiar tu contraseña</h3>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
        
        
        
            <!--  ========== Email ==========  -->
        
            <app-custom-input autocomplete="email" icon="mail" [control]="form.controls.email" type="email"
                label="Correo"></app-custom-input>
        
            <!--  ========== Email Validators ==========  -->
        
            <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        
                <div *ngIf="form.controls.email.errors?.['required']">
                    <p>El correo es requerido.</p>
                </div>
        
                <div *ngIf="form.controls.email.errors?.['email']">
                    <p>El correo debe ser válido.</p>
                </div>
        
            </div>
        
            <!--  ========== Botones ==========  -->
        
            <ion-button class="submit" type="submit" expand="block" mode="ios" [disabled]="form.invalid">
                Recuperar
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
        
        </form>
    
    </div>
</ion-content>