<ion-app>
  <div *ngIf="showSplash" class="splash-screen">
    
    <img *ngIf="isVideo" src="../assets/videos/pantallaDeCarga.gif" class="splash-gif" />
  </div>
  <ion-router-outlet></ion-router-outlet>
  <!-- 
  <ion-router-outlet *ngIf="(showLoader$ | async) === false"></ion-router-outlet>
  <ion-content *ngIf="(showLoader$ | async) === true" id="pantalla-carga">
    <div class="loading-container">
      <video src="../assets/videos/pantallaDeCarga.mp4" autoplay muted alt="pantalla de carga"
        (ended)="onVideoEnded()"></video>
    </div>
  </ion-content>
  -->
</ion-app>