<ion-footer>
  <div class="grupo-1">
    <div class="box">
      <figure>
        <h1>FIX</h1>
        <!--  <img src="" alt="logo"> -->
      </figure>
    </div>

    <div class="box">
      <h2>SOBRE NOSOTROS</h2>
      <p>Nuestra misión es proporcionar soluciones simples y de alta calidad que ayuden a nuestros clientes a alcanzar
        sus objetivos.</p>
    </div>

    <div class="box">
      <h2>CONTACTOS</h2>
      <a href="" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="https://www.instagram.com/fix_arg/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="https://l.instagram.com/?u=https%3A%2F%2Fwa.me%2Fmessage%2FH2CVP6TF6V6ND1&e=AT2ZgxaU-oSiT-lv5M1LRf6cC0rpvtrt-15d4XHTSze7yhQBj5I9_kwqhaNsuke46aP_PeW5cPCwJTnpb7E0RU5IivxVQAMilxpJ2MswCOYwPk8XWXJCTGk" target="_blank">

        <ion-icon name="logo-whatsapp"></ion-icon>
      </a>
      <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwsGJGCcfHlmVdXxnXwZtxGCrLFZqpDLTdCnxKnpjNFxbZBmSfgdLNdkZMqLV"
        target="_blank">
        <ion-icon name="mail"></ion-icon>
      </a>
    </div>
    
    <div class="grupo-2">
      <p>&copy; 2024 <b>FIX</b> Todos los Derechos Reservados.</p>
    </div>
  </div>
</ion-footer>