ion-footer{
  --background: linear-gradient(0deg, #a975ed, #252A2F);
  background: var(--background);
}

h1, h2, p, a {
    color: #ffffff;
    text-decoration: none;
}

.grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 45px 0px;
    gap: 10px;
}

.grupo-1 .box figure{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo-1 .box figure h1 {
    font-size: clamp(35px, 5vw, 80px);
    font-weight: 900;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 25px;
    text-shadow: 0 0 20px rgba(162, 72, 210, 0.9), 0 0 40px rgba(162, 72, 210, 0.9);
    box-shadow: 0 0 20px rgba(162, 72, 210, 0.9), 0 0 40px rgba(162, 72, 210, 0.9);
}


.grupo-1 .box h2{
    text-shadow: 0 0 20px rgba(162, 72, 210, 0.9), 0 0 40px rgba(162, 72, 210, 0.9);
    font-size: clamp(18px, 5vw, 30px);
}

.grupo-1 .box p{
    font-size: clamp(15px, 3vw, 20px);
}
footer .grupo-1 .box p {
    font-style: italic;
}

.grupo-1 .box a{
    font-size: clamp(20px, 9vw, 30px);
    padding: 12px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.grupo-1 .box i{
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid #1E293B;
    text-align: center;
    user-select: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .50), -5px -5px 10px rgba(255, 255, 255, .2);
}

.grupo-1 .box i:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .50), inset -5px -5px 10px rgba(255, 255, 255, .1);
    
}

.grupo-1 .box .cont__mail{
    margin-bottom: 25px;
}

.grupo-2 {
    text-align: center;
}

.grupo-2 p{
    font-size: clamp(13px, 5vw, 10px);
    text-shadow: 0 0 20px rgba(162, 72, 210, 0.9), 0 0 40px rgba(162, 72, 210, 0.9);
}

@media screen and (max-width: 1270px) and (min-width: 800px){
    .box:nth-child(3) {
        display: flex;
        flex-direction: column;
        align-items: center;    
        gap: 25PX;
    }
}

@media screen and (max-width: 800px){
    .grupo-1{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --background: linear-gradient(45deg, #9132efba, #e8e5ec);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
    z-index: 10000;
    width: clamp(250px, 75%, 500px);
    height: 25vh;
    --background-color: #dedede;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .50),
    -5px -5px 10px rgba(255, 255, 255, .2);
}

.content h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 7vh;
    text-align: center;
    font-size: clamp(18px, 3vw, 23px);
    font-weight: 700;
    color: #1E293B;
}

.content button{
    position: absolute;
    border: 0 ;
    --background: transparent;
    cursor: pointer;
}

.content button i{
    --background: #1E293B;
    color: #9947e7;
    padding: .2vw .6vw;
    font-weight: 900;
    border-radius: 50%;
    font-size: clamp(15px, 4vw, 25px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .50), -5px -5px 10px rgba(255, 255, 255, .2);
}

.content button i:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .50), inset -5px -5px 10px rgba(255, 255, 255, .1);   
}

.content div{
    display: flex;
    flex-direction: column;
}

.content div nav p, .content div nav p a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1E293B;
}

 .content div nav p a{
    text-decoration: underline;
 }