ion-content {
  --background: #252A2F;
  margin-top: 30px;
  padding-top: 10px;
  width: 100%;
}

app-menu{
  z-index: 100000;
}


.discover-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  align-items: start;
  
  .cont-title{
    margin-top: 50px;
    z-index: 100;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
      font-family: 'Pacifico', cursive;
      font-size: 20px;
      color: #ffffff;
      font-weight: bold;
      text-shadow: 4px 4px 4px rgb(0, 0, 0);
      letter-spacing: 1px;
      margin-bottom: 20px;
    }
  }

  

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  /* Estilos para la imagen */
  .cont-img {
    margin-right: 10px;
    width: 130px; /* Ancho fijo */
    height: 130px; /* Altura fija */
    border-radius: 10px;
    overflow: hidden; /* Esto asegura que las imágenes no se desborden del contenedor */

    img {
      width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
      height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
      object-fit: cover; /* Cubre el área del contenedor manteniendo la relación de aspecto */
    } 
  } 

  /* Estilos para los detalles */
  .details{
    margin-top: 0;
    margin-left: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;

    h2 { 
      font-size: 18px;
      margin-bottom: 5px;
      color: #f3f3f3;
      font-weight: bold;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #f3f3f3;
    
      span {
        font-weight: bold;
      }

    } 
  }

  .cont-botones{

    width: 90vw;
    display: flex;
    justify-content: end;
    margin-bottom: -20px;

    .boton-favorito{
      background-color: transparent;
      border: none;
      color: #f3f3f3;
      cursor: pointer;
      margin-right: 10px;

      ion-icon{
        font-size: 28px;
        color: red;
        
      }
    } 
    .cont-botonmas{
      cursor: pointer;
      margin-right: 10px;
      width: 20px;
      height: 20px;

      .botonmas {
        font-size: 24px;
        background: #7b2cdc;
        color: #ffffff; 
        border: none; 
        border-radius: 35%; 
        padding: 1px 5px 1.5px 5px;
        outline: none; 
        
      }
    } 
  }
  
  .item:last-child {
    border-bottom: none; 
  }
}