ion-content {
  --background: #252A2F;
  margin-top: 15px;
  padding-top: 10px;
  width: 100%;
  
  app-menu{
    z-index: 100000;
  }

  .cont{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

