<ion-content>
  <app-menu [showBackButton]="true" backButton="/home"></app-menu>
  <div class="cont" *ngIf="publicacion">
    <div class="cont-info">
      <div class="carousel-container" *ngIf="image && image.length > 0">
        <img *ngFor="let imagen of image; let i = index" [src]="imagen" alt="Imagen"
          [ngClass]="{'image-active': selectedIndex === i}">

        <div *ngIf="indicators" class="carousel-dot-container">
          <span *ngFor="let dot of image; let i = index" class="dot" [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)">
          </span>
        </div>
      </div>
      <div class="cont-title">
        <h2>{{ publicacion.nombre }}</h2>
      </div>
      <div class="cont-subtitle">
        <p><strong>Categoría:</strong> {{ publicacion.categoria }}</p>
        <p><strong>Área:</strong> {{ publicacion.area }}</p>
        <p><strong>Ubicación:</strong> {{ publicacion.ubicacion }}</p>
        <p><strong>Dirección:</strong> {{ publicacion.direccion }}</p>
        <p><strong>Teléfono:</strong> {{ publicacion.telefono }}</p>

        <p class="descripcion"><strong>Descripción:</strong> <br> <br> <span [innerHTML]="getSanitizedHtml(publicacion.descripcion)"></span></p>
      </div>
    </div>
  </div>
</ion-content>