<ion-content>

  <app-menu [showBackButton]="true" backButton="/home"></app-menu>

  <!-- Contenido adicional -->
  <div class="image-container">
    <img src="tu-imagen.jpg" alt="Imagen">
  </div>
  <div class="details-container">
    <h2>Detalles de la imagen</h2>
    <ul>
      <li><strong>Título:</strong> Nombre de la imagen</li>
      <li><strong>Fecha:</strong> Fecha de la imagen</li>
      <li><strong>Descripción:</strong> Descripción de la imagen</li>
      <!-- Agrega más detalles si es necesario -->
    </ul>
  </div>

</ion-content>