ion-menu {
  --width: 220px;
  --min-width: 220px;
  outline: none;  
  color: #c1c1c1;
  
  /* header menu desplegable */
  ion-toolbar {
    --background: linear-gradient(0deg,#6a3fa3, #d3d5d7);//#b186dec2
  }


  /* Fondo del menu despleable*/
  .ion-padding {
   
    --background: #6a3fa3; 
    
    
    ion-menu-toggle{
      /* botones */

      ion-item{
        --background: #2f353b;

        ion-label{
          padding-left: 5px;
          color: #fff;
        }

        ion-icon{
          color: #fff;
        }
      }

      ion-item:hover {
        --background: rgb(88, 94, 100);
      }
    }
  }
}

.ion-page{
 
  ion-header{
    
    ion-toolbar{
      height: 60px;
      --background: #252A2F;
      color: #fff;
    }
  }
}

.cont-logo {
  display: flex;
  justify-content: center;
  margin-right: 20%;
  
  .logo {
    text-align: center;
    width: 60px;
    height: 60px;
  }
}

#menu-title {
  --font-weight: 900;
  color: #fff;
}

img {
  height: 30px;
}

.user-logo-container {
  position: absolute;
  top: 10px;
  right: 10px; 
}

.user-logo-container img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}